.custom-footer {
  text-align: center;
  padding: 10px;
  background-color: #2c3e50;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  border: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.logo-link .header-logo {
  height: 50px;
  border: none;
}

/*---------------------------------------------------------------------------*/
/* Use consistent margins for spacing */
/*---------------------------------------------------------------------------*/
.logo-link:first-child {
  margin-right: 40px; 
}

.teal-logo {
  transform: scale(3);
  border: none;
}

.footer-divider {
  color: #FFFFFF;
  height: auto;
  border: none;
  margin-left: 15px; 
}
/*---------------------------------------------------------------------------*/
/* Media queries for small screens */
/*---------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
  .custom-footer {
    padding: 8px;
    font-size: 12px;
  }
  
  .footer-content {
    flex-direction: column;
    gap: 15px;
  }
  
  .logo-link:first-child {
    margin-right: 0;
  }
  
  .footer-divider {
    margin-left: 0;
  }
}